body {
  background-color: #222;
  color: rgb(255, 178, 83);
  font-family: "Raleway", sans-serif;
}

#output-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 228, 196, 0.1);
  border-radius: 20px;
  margin: 50px 0;
  width: max-content;
}

.output-task {
  display: flex;
  width: 50vw;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  justify-content: space-between;
  margin: 10px;
}
